*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}

/* This is Header part styles */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 240px 0 240px;
}
.header h3{
    font-weight: 700;
    font-size: 35px;
}
.nav-items{
    display: flex;
    gap: 40px;
}
.nav-items a{
    text-decoration: none;
    color: #000;
}
.nav li{
    list-style: none;
    font-weight: 500px;
    font-size: 18px;
}

/* -------- This is Main part Styles ----------- */

header, .banner{
    text-align: center;
    background-color: rgba(255, 144, 14, 0.1);
    left: 0;
    top: 0;

}
.banner-details{
    padding-top: 70px;
}
.banner-title{
    font-weight: 700;
    font-size: 55px;
    margin-bottom: 15px;
}
.banner-description{
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
}
.btn-primary{
    width: 130px;
    height: 40px;
    text-align: center;
    color: white;
    background-color: orange;
    border-radius: 5px;
    border: none;
}
.banner img{
    margin-top: 40px;
    margin-bottom: 40px;
    border: 0;
    border-radius: 15px;
}

/* This is body styles */

/* Container 1 */
.body-container-1{
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    padding: 0 200px;
    margin-top: 80px;
}
.images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}
.container-details{
    font-size: 45px;
}
.container-details h3{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
}
.container-details p{
    font-weight: 400;
    font-size: 13px;
    color: #727272;
    margin-bottom: 15px;
    line-height: 150%;
}
.font-style-1{
    font-weight: 400;
    color: #727272;
}
.font-style-2{
    color:#FF900E;
}

/*--------- This is Articles styles --------------------*/
.articles-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 100px 200px;
    margin-bottom: 100px;

}
.left-side h3{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 25px;
    border-left: 5px solid #FF900E;
    padding-left: 25px;
    width: 400px;
}
.left-top p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
    line-height: 150%;
}
.boxes{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.box{
    padding: 30px 20px 30px 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 2px 3px 2px 5px;
    border: 0;
    border-radius: 8px;
}
.box h4{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}
.box p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    line-height: 150%;
}
.right-side img{
    padding: 70px 0 90px 90px;
}
.btn{
    margin-right: 150px;
    position: absolute;
    top: 3050px;
}
.btn span{
    font-size: 30px;
    font-weight: 600;
}
.btn button{
    height: 90px;
    width: 180px;
}
    /* Body container 2 styles */

.body-container-2{
    padding-left: 150px;   
}
.facts-info{
    padding-bottom: 80px;
}
.facts-info h2{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 15px;
}
.facts-info p{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}
.facts-items{
    display: flex;
    gap: 80px;
    padding: 0 50px;
}
.box-1{
    border: 2px solid #FF900E;
    height: 140px;
    width: 200px;
    justify-content: center;
    text-align: center;
    line-height: 200%;
}
.box-1 img{
    margin-top: 20px;
}
.box-1 h3{
    font-size: 30px;
    font-weight: 700;
    color: #424242;
}
.box-1 p{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}

/* tis is last part styles */

.sponsors{
    padding: 0 15px;    
    margin-bottom: 60px;
}
.sponsors-info{
    justify-content: center;
    text-align: center;
    padding: 120px 0 50px 0;
    line-height: 150%;
}
.sponsors-info h2{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 15px;
}
.sponsors-info p{
    font-size: 16px;
    font-weight: 400px;
    color: #727272;
}
.sponsors-img{
    display: flex;
    padding-left: 200px;
    gap: 80px;
}


/* This is footer styles */

footer{
    margin: 0 150px 100px;
    text-align: center;
    background: #FFF4E7;
    border-radius: 8px;
}
.footer{
    font-weight: 14px;
    padding: 15px 5px;
    margin: 0;
    width: 100%;
}
.footer p{
    padding: 0;
}
/*------------------ Responsive styles -----------------*/

@media screen and (max-width: 688px) {
    
    /* header style */

    .header{
        padding: 30px 0 10px 20px;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .header h3{
        font-size: 35px;
        margin-bottom: 10px;
    }
    .nav-items{
        flex-direction: column;
        gap: 10px;
        margin-bottom: 30px;
    }

    /* banner styles */
    .banner{
        display: flex;
        flex-direction: column-reverse;
    }
    .banner-title{
        font-size: 54px;
        margin-bottom: 15px;
        line-height: 120%;
    }
    .banner-info{
        padding: 0 10px;
    }
    .banner button{
        margin-bottom: 30px;
    }
    .banner img{
        padding: 0 15px;
        margin-bottom: 20px;
        width: 90%;
    }
    
    /* body container style */
    .body-container-1{
        flex-direction: column-reverse;
        padding: 0;
        gap: 30px;
    }
    .container-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 15px;
    }
    .images{
        grid-template-columns: repeat(1, 1fr);
        padding-left: 20px;
    }
    .images img{
        width: 100%;
    }
    .container-details{
        margin-bottom: 0;
    }

    /* --------- Articles container -----------*/

    .articles-container{
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        margin: 0;
        gap: 5px;
    }
    .left-top{
        padding-top: 40px;
        text-align: center;
    }
    .left-top p{
        padding-left: 20px;
    }
    .boxes{
        padding: 25px;
    }
    .right-side{
        text-align: center;
    }
    .right-side img{
        width: 90%;
        padding: 0;
        margin: 0;
    }
    .btn{
        top: 4280px;
        padding: 50px ;
        font-size: 40px;
        margin: 0;
        position: absolute;
        left: 50px;
        text-align: center;
    }
    .btn button{
        padding: 10px;
        font-size: 15px;
    }
    .body-container-2{
        margin: 0;
        padding: 0 5px;
    }
    .facts-info{
        padding-left: 10px;
        padding-top: 20px;
        margin-top: 100px;
    }
    .facts-info h2{
        margin-top: 30px;
        font-size: 40px;
    }
    .facts-info p{
        margin-bottom: 0px;
        font-size: 20px;
        font-weight: 400;
        line-height: 150%;
    }
    .facts-items{
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }



    /* Sponsors*/

    .sponsors{
        padding: 0 15px;
        margin-bottom: 60px;
    }
    .sponsors-img{
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 15px;
        width: 25%;
        text-align: center;
    }


    /* Footer */

    footer{
        margin: 0 20px 40px 15px;
    }
    .footer{
        font-size: 14px;
        padding: 15px 5px;
        margin: 0;
        width: 100%;
    }
    .footer p{
        padding: 0;
    }


}

